<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="/public/favicon.png"/>
    <link rel="stylesheet" href="/public/index.css">
    <title>Online Compiler for C++</title>
</head>
<body style="text-align:center">
    <img src="/public/favicon.png" height="60" width="60">

    <h3> Online Compiler for C++</h3>
    <form method="post" action="/" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <input type="submit">
        <br><br>
        <p><b>Input:</b></p><textarea cols="80" name="input">{{input}}</textarea>

        <br><br><hr>
        <p><b>Output:</b></p>
        <pre align="left" id="output">{{output}}</pre>

    </form>

</body>
</html>